<!DOCTYPE html>
<html>
<head>
  <title> SSCN </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <a href="/" > Home</a>
    <a href="/stadium" > Stadium</a>
    <a href="/palmares" > Palmares</a>
  </header>
  <%= yield %> 
  <footer></footer>
</body>
</html>

