<h1>Palmarés</h1>

<ul style="list-style-type:none">
  <li>2 Scudetti</li>
  <li>5 Coppe Italia</li>
  <li>2 Supercoppe Italiane</li>
  <li>1 Coppa Uefa</li>
  <li>1 Coppa delle Alpi</li>
  <li>1 Coppa di Lega Italo - Inglese</li>
</ul>