<h1> Stadium </h1>
<h2> History and description
 </h2>
<p> 
Stadio San Paolo was built to provide Napoli with a permanent home after their old home Stadio Partenopeo had been destroyed in the Second World War by air raids.

In the post-War years, the club played at various temporary homes, but none to their satisfaction, and with the rapidly increasing fanbase of the club a larger stadium was needed.

Stadio San Paolo officially opened on the 6th of December 1959 with a match between Napoli and Juventus (2-1). It was initially completely uncovered and could hold about 87,500 spectators, mostly standing.

The stadium was modernised for the European Championships in 1980, during which it hosted three first round group matches and the match for third place between Czechoslovakia and Italy (1-1).

Stadio San Paolo was selected as one of the playing venues of the 1990 World Cup, and therefore underwent a major renovation. Works included the construction of a third tier and the installation of the roof. Due to the conversion of the stadium into an all-seater, capacity was reduced to about 76,000 seats.

During the World Cup, Stadio San Paolo hosted two first round group matches, a round of 16 match, the quarter-final between England and Cameroon (3-2), and the semi-final between Argentina and Italy (1-1).

After the World Cup, the stadium slowly decayed, and lack of maintenance even resulted in a temporary closure. Parts of the stadium were subsequently kept closed, hereby reducing capacity.

In recent years and with the return of successes for the club, refurbishments have been performed that have kept the stadium eligible for European matches.</p>

<img class= "stadium_image" src="http://www.campaniasuweb.it/wp-content/uploads/2015/09/gallery_4ed792221447d_panora3.jpg"></img>